    {% extends "base.html" %}
    {% load static %}
    {% block title %}
    신경남 BLOG HOME
    {% endblock title %}
    {% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
    <img
    src = "{% static 'Likelion-logo.png' %}"
    width = "400"
    height = "150"
    class = "logo"  
    >



    <h1>LIKELION 12 Blog Project</h1>
    <div class="new-post-button">
        <a href="{%url 'new'%}">새 글 작성하기</a>
    </div>
    <div>
        {% for blog in page_obj %}
        <a href="{%url 'detail' blog.id%}">
            <h2>{{blog.title}}</h2>
            <p>{{blog.summary}}</p>
            <p>{{blog.created_at}}</p>
            <hr />
        </a>
        {% endfor %}
    </div>
    <span>
        {% if page_obj.has_previous %}
        <a href="?page=1">처음으로</a>
        <a href = "?page={{ page_obj.has_previous_page_number}}">이전</a>
        {% endif %}
        <p>{{page_obj.number}}</p>
        <p> / </p>
        <p> {{page_obj.paginator.num_pages }} </p>
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">다음</a>
        <a href = "?page = {{ page_obj.paginator.num_pages }}">마지막으로</a>
        {% endif %}
        
    {% endblock content %}